@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300&display=swap");
:root {
  font-family: "Lexenda Deca", sans-serif;
  font-size: 16px;
  /* line-height: 40px; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #000000; */
  background: url("./assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
